<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Brian Holden</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>
<body>
	<div class="header">
		<h1>Brian Holden</h1>
	</div>
	<div class="content">
		{{{body}}}
	</div>
	<div class="footer"></div>
</body>
</html>